extends ../layouts/application.pug

block content
    h3.text-center.mt-3 Create new task
    .mt-3.form-group.col-lg-4.mx-auto
        form(action='/tasks/new' method='post')
            +input(f, 'name', 'fa fa-ticket fa-fw')
            +select(f, 'assignedToId','fa fa-user-circle-o fa-fw', users)
            +input(f, 'Tags', 'fa fa-tags fa-fw')
            +textarea(f, 'description')
            +button('Create')

