include /mixins/forms.pug

doctype html
html(lang="en")
    head
        title Task Manager
        script(src='/assets/vendor.js')
        script(src='/assets/application.js')
        script(src='https://use.fontawesome.com/9e77b4a3f0.js')
        link(rel='shortcut icon' type="image/x-icon" href='/assets/favicon.ico')

    body.row-10
        nav.navbar.navbar-toggleable-right.navbar-inverse.bg-inverse
            .conteiner
                .row.align-items-center
                    .col-4
                        a.navbar-brand(href='/')
                            .fa.fa-ravelry.fa-4x(aria-hidden='true')
                            h1.navbar-text Task Manager

                    if isSignedIn()
                        .col-4
                            .d-flex.justify-content-center
                                a.navbar-link.ml-2(href='/users')
                                    i.mr-1.fa.fa-users.fa-3x(aria-hidden='true')
                                    span.text-center Users
                                a.navbar-link.ml-2(href='/tasks')
                                    i.mr-1.fa.fa-list.fa-3x(aria-hidden='true')
                                    span.text-center Tasks

                        .col-4
                            .d-flex.justify-content-end
                                nav.btn-group
                                    a.btn.btn-outline-primary(href=`/users/${signedId()}/profile`) Account
                                    a.btn.btn-outline-danger(href="/session" rel='nofollow' data-method='delete') Log Out
                    else
                        .col-8
                            .d-flex.justify-content-end
                                nav.btn-group
                                    a.btn.btn-outline-primary(href="/users/new") Sign Up
                                    a.btn.btn-outline-success(href="/session/new") Log In
        .container
            - const msg = flash.get()
            if msg
                .alert.alert-info.m-3= msg
        block content