extends ../layouts/application.pug

block content
    if isSignedIn()
        .row.justify-content-center.mt-4
            .col-lg-4
                table.table.table-stripped
                    h2.text-center Users
                        tr
                            th Full Name
                            th Email
                            th Created At
                    tbody
                        each user in users
                            tr
                                td= user.fullName || '-'
                                td= user.email
                                td= user.createdAt